<h1>About</h1>
<h4>📌I'm a philosophy teacher who has transitioned into the field of programming. 
    My training in logic and analysis has provided me with a solid foundation to embark on a self-taught journey into the world of programming.
     Research and the ability to turn ideas into effective and innovative solutions drive me to exceed myself daily. I continually strive to meet the demands of contemporary users 
    and businesses, contributing value to the market and seeking continuous professional development.</h4>